<mat-toolbar color="primary">
    <span>Jobs</span>


<div class="navbar"></div>
    <a mat-button routerLink="">Home</a>
    <a mat-button>Jobs</a>
    <a mat-button>Blogs</a>
    <a mat-button>News</a>
    <a mat-raised-button color="accent" routerLink="/login">Login</a>&nbsp;&nbsp;
    <a mat-raised-button color="accent" routerLink="/signup">Sign Up</a>
  </mat-toolbar>
<div class="container">
    <img src="../../assets/images/home bg-image.jpg" alt="background" style="width:100%;">
    <div class="text-block">
      <h4><i>Get On Board And Start Your Future</i></h4>
      <p><em>"The only way to do great work is to do what you love. If you haven't found it yet, keep looking, Don't settle." — Steve Jobs</em></p>
    </div>
</div>
<app-footer></app-footer>
