<footer>
    <div class="container">
      <div class="footer-left">
        <h3>ICTAK Alumni Job Portal</h3>
        <p>A platform connecting ICTAK Alumni with Employers.</p>
      </div>
      <div class="footer-center">
        <h3>Contact Information</h3>
        <p><i class="fa fa-map-marker"></i> G1, Ground Floor, Thejaswini, Technopark Campus <br> 
            Thiruvananthapuram, Kerala, India - 695 581</p>
        <p><i class="fa fa-envelope"></i> info@ictkerala.org</p>
        <p><i class="fa fa-phone"></i> +91 471 270 0811</p>
      </div>
      <div class="footer-right">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/jobs">Job Postings</a></li>
          <li><a routerLink="">About Us</a></li>
          <li><a routerLink="">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 ICTAK Alumni Job Portal. All rights reserved.</p>
    </div>
  </footer>
