/* Reset default margin and padding for the footer and its children */
footer {
    margin: auto;
    padding: 0;
    background-color: aquamarine;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .footer-left, .footer-center, .footer-right {
    flex: 1 1 auto;
    padding: 10px;
  }
  
  .footer-left h3, .footer-center h3, .footer-right h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-left p, .footer-center p, .footer-right p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .footer-center i {
    margin-right: 10px;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-right li {
    margin-bottom: 5px;
  }
  
  .footer-right a {
    color: black;
    text-decoration: none;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    background-color: blanchedalmond;
    padding: 10px;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 12px;
    margin: 0;
  }
  
  /* Responsive CSS */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .footer-left, .footer-center, .footer-right {
      flex: 100%;
    }
  }