<mat-toolbar class="navbar fixed-top">
    <mat-toolbar-row>
        <button (click)="sidenav.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <div class="container-fluid logocon">
          <img src="../../../assets/images/ICT_Academy_Kerala.webp.png" alt="logo" class="logo"> 
        </div>
        <div class="spacer"></div>
    </mat-toolbar-row>
</mat-toolbar> 
  <div class="row">
    <div class="head head col-sm-12 col-md-4 col-lg-4 col-xl-4">
  <mat-drawer-container class="sidenav">
    <mat-drawer #sidenav opened="true" class="sidenavv" mode="side">
      <mat-nav-list>
        <mat-list-item routerLink="dash">
          <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
        </mat-list-item>
        <mat-list-item routerLink="viewjob">
          <button mat-button><mat-icon>view_quilt</mat-icon>View Job</button>
        </mat-list-item>
        <mat-list-item routerLink="job">
          <button mat-button><mat-icon>add_circle</mat-icon>Add Job</button>
        </mat-list-item>
        <mat-list-item routerLink="" (click)="function()">
          <button mat-button><mat-icon>logout</mat-icon>Logout</button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div style="text-align: center;min-height: 600px;"></div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
  <div class="side"  col-sm-12 col-md-6 col-lg-6 col-xl-6>
    <router-outlet></router-outlet>
</div>
</div>
<app-footer></app-footer>
