
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
   <div class="fullform">
    <div class="wrapper d-flex justify-content-center flex-column px-md-5 px-1">
        <div id="head" class="h3 text-center font-weight-bold">Alumni Registeration Form</div><br><br>
        <div class="row my-4">
            <div  class="col-md-6"> <label>Full Name</label> <input id="n" type="text" placeholder="Jhon Smith"> </div><br>
           
        </div>
        <div class="row my-md-4 my-2">
            <div  class="col-md-6"> <label>Mail</label> <input id="e" type="email" placeholder="jhon19@mail.com"> </div><br>
            <div  class="col-md-6 pt-md-0 pt-4"> <label>Phone</label> <input type="tel" placeholder="+91"> </div><br>
           <div   class="col-md-6"> <label>Highest Qualification</label> <input type="email" placeholder="Your Qualification"> </div><br>

        </div>
        <div class="row my-md-4 my-2">
           
            <div  class="col-md-6 pt-md-0 pt-4"> <label> Course studied at ICTAK  </label> <select name="country" id="course">
                    <option value="ind">FSD</option>
                    <option value="us">DSA</option>
                    <option value="uk">ML-AL</option>
                    <option value="aus">RPA</option>
                    <option value="aus">ST</option>
                    <option value="aus">CSA</option>
                </select> </div><br><br>
        </div> <label  class="mt-md-0 mt-2">Batch Details</label>
        <div class="d-lg-flex justify-content-between align-items-center pb-4">
            <div class="size"> <label class="option"> <input type="radio" name="radio">KKEM <span class="checkmark"></span> </label> </div>
            <div class="size"> <label class="option"> <input type="radio" name="radio">NORKA<span class="checkmark"></span> </label> </div>
            <div class="size"> <label class="option"> <input type="radio" name="radio">KDISC<span class="checkmark"></span> </label> </div>
            
        </div><br><br>

<div class="row my-md-4 my-2">
            <div  class="col-md-6 pt-md-0 pt-4"> <label> Placement Status  </label> <select name="country" id="placement">
                    <option value="ind">Placed</option>
                    <option value="us">Job-Seeking</option>
                   
                </select> </div><br><br>

      
          <div class="col-md-6"> <label>Company Name</label> <input type="email" placeholder="Company "> </div><br>
    
         </div>
     </div>
  </body>
</html>
